
.root{
	backgroundColor: #202020;
	textColor: #FFFFFF;
	controllerNeutralColor: #303030;
	controllerSelectedColor: #808080;
	controllerHoverColor: #0096C9;
	workspaceColor: #808080;
	
    -fx-base: backgroundColor;
}

.progress-bar{
	-fx-accent: green;
}